dist/index.html
<!DOCTYPE html/>
<html lang="en">
  <head>
    <!--bower:css-->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.css"/>
    <!--endbower-->
    <link rel="stylesheet" href="bower_components/fancybox/source/jquery.fancybox.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <meta charset="UTF-8"/>
    <title>Стимпанк и флоральная аэрография</title>
  </head>
  <body>
    <div class="main_wrapper">
      <div class="header_block"><a href="#"><img src="img/logo.png" alt="logo" class="main_logo"/></a>
        <ul class="top_menu">
          <li><a href="#aboutMe"> Обо мне</a></li>
          <li><a href="#myPortfolio"> Портфолио</a></li>
          <li><a href="#myContacts"> Контакты</a></li>
          <li><a href="#myPrice"> Цены</a></li>
        </ul>
      </div>
      <div class="site_name">
        <div class="gearsnroses"></div>
        <div class="lenta"></div>
      </div>
      <div id="aboutMe" class="main_info">
        <div data-stellar-ratio="0.7" class="flowers_for_ann2_back"></div>
        <div data-stellar-ratio="0.8" class="ann2_back"></div>
        <p class="anotation">Привет, меня зовут Анна! Если вам нравится мой стиль и вы хотите украсить свой дом или машину моими авторскими работами, пишите и мы вместе создадим что-нибудь прекрасное!</p>
        <div class="phone_more">
          <div class="phone_png"></div><a href="tel:+79213324455">+7(921)332 44 55</a>
          <p>Звоните прямо сейчас и получите в подарок дополнительный эскиз</p>
        </div>
      </div>
      <div class="how_itwork">
        <h2>Как все работает?</h2><span class="h_separator"></span>
        <div class="work_road">
          <div class="work_road_item">
            <div class="tel_circle"></div>
            <h3>звонок</h3><span class="h3_separator"></span>
            <p>Позвоните прямо сейчас. Я отвечу на любые вопросы и мы предворительно обсудим предстоящий проект. Для более подробной беседы мы назначим личную встречу.</p>
          </div>
          <div class="work_road_item">
            <div class="Ellipse3copy3"></div>
            <h3>встреча</h3><span class="h3_separator"></span>
            <p>На встрече мы проговорим подробнее наш проект, вместе порисуем эскизы, посмотрим и обсудим аналоги и окончательно утвердим сроки и цены.</p>
          </div>
          <div class="work_road_item">
            <div class="Ellipse3copy2"></div>
            <h3>эскизы</h3><span class="h3_separator"></span>
            <p>Я предложу вам несколько эскизов на выбор. Вы сможете выбрать тот эскиз, который вам больше всего  приглянется.</p>
          </div>
          <div class="work_road_item">
            <div class="Ellipse3copy"></div>
            <h3>красота</h3><span class="h3_separator"></span>
            <p>На основе выбранного эскиза, я создам рисунок, который украсит ваш интерьер или вашу машину и будет радовать вас многие годы.</p>
          </div>
        </div>
      </div>
      <div id="myPortfolio" class="porfolio">
        <div class="header_img"></div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="img/fgsDs8mtOJ4.jpg" class="fancybox"><img src="img/fgsDs8mtOJ4.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/Ljt6r-QRz4c.jpg" class="fancybox"><img src="img/Ljt6r-QRz4c.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/R4uNoNPa3LI.jpg" class="fancybox"><img src="img/R4uNoNPa3LI.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/tUlZJlXoQtM.jpg" class="fancybox"><img src="img/tUlZJlXoQtM.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/VnUn3yE5G-s.jpg" class="fancybox"><img src="img/VnUn3yE5G-s.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/wfem9BughIg.jpg" class="fancybox"><img src="img/wfem9BughIg.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/xg0Fq6dqpMo.jpg" class="fancybox"><img src="img/xg0Fq6dqpMo.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/AECd45Y6Tl0.png" class="fancybox"><img src="img/AECd45Y6Tl0.png" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/fgsDs8mtOJ4.jpg" class="fancybox"><img src="img/fgsDs8mtOJ4.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/Ljt6r-QRz4c.jpg" class="fancybox"><img src="img/Ljt6r-QRz4c.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/R4uNoNPa3LI.jpg" class="fancybox"><img src="img/R4uNoNPa3LI.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/tUlZJlXoQtM.jpg" class="fancybox"><img src="img/tUlZJlXoQtM.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/VnUn3yE5G-s.jpg" class="fancybox"><img src="img/VnUn3yE5G-s.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/wfem9BughIg.jpg" class="fancybox"><img src="img/wfem9BughIg.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/xg0Fq6dqpMo.jpg" class="fancybox"><img src="img/xg0Fq6dqpMo.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/AECd45Y6Tl0.png" class="fancybox"><img src="img/AECd45Y6Tl0.png" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/fgsDs8mtOJ4.jpg" class="fancybox"><img src="img/fgsDs8mtOJ4.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/Ljt6r-QRz4c.jpg" class="fancybox"><img src="img/Ljt6r-QRz4c.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/R4uNoNPa3LI.jpg" class="fancybox"><img src="img/R4uNoNPa3LI.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/tUlZJlXoQtM.jpg" class="fancybox"><img src="img/tUlZJlXoQtM.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/VnUn3yE5G-s.jpg" class="fancybox"><img src="img/VnUn3yE5G-s.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/wfem9BughIg.jpg" class="fancybox"><img src="img/wfem9BughIg.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/xg0Fq6dqpMo.jpg" class="fancybox"><img src="img/xg0Fq6dqpMo.jpg" alt=""/></a></div>
            <div class="swiper-slide"><a href="img/AECd45Y6Tl0.png" class="fancybox"><img src="img/AECd45Y6Tl0.png" alt=""/></a></div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div id="myPrice" class="prices_slider">
        <h2>Сколько стоит?</h2><span class="h_separator">Внимание! все цены указаны приблизительно!</span>
        <div class="swiper_cube_conteiner">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/velo.png" alt="1111"/><span>Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р</span></div>
            <div class="swiper-slide"><img src="img/auto.png" alt="2222"/><span>Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р</span></div>
            <div class="swiper-slide"><img src="img/tutu.png" alt="3333"/><span>Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р</span></div>
          </div>
        </div>
        <div class="swiper_cube-button-next"></div>
        <div class="swiper_cube-button-prev"></div>
        <div class="phone_more">
          <div class="phone_png"></div><a href="tel:+79213324455">+7(921)332 44 55</a>
        </div>
        <div class="baloon_phone_info">
           
          Дополнительный <br/> 
          эскиз в подарок! <br/>
          Звоните <br/>
          прямо сейчас!
        </div>
      </div>
      <div id="myContacts" class="contacts">
        <div class="contacts_gears"></div>
        <div class="contacts_flowers"></div>
        <h2>Контакты</h2><span class="h_separator"></span>
        <div class="cont_phone_num">
          <div class="phone_png"></div><a href="tel:+79213324455">+7(921)332 44 55</a>
        </div>
        <form action="#">
          <input type="text" placeholder="Ваше Имя" required="required" class="formTText"/>
          <input type="email" placeholder="Ваш E-mail" required="required" class="formTText"/>
          <textarea placeholder="Ваше сообщение"></textarea>
          <div class="form_button">
            <input type="button" value="Отправить"/><span>Буду рада ответить на любые вопросы</span>
          </div>
        </form>
      </div>
      <footer>
        <ul>
          <li><a href="" class="twitter"></a></li>
          <li><a href="" class="facebook"></a></li>
          <li><a href="" class="googleplus"></a></li>
          <li><a href="" class="pinterest"></a></li>
          <li><a href="" class="linkedin"></a></li>
        </ul>
      </footer>
    </div>
    <div class="elevator-button"></div>
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery.stellar/jquery.stellar.js"></script>
    <script src="bower_components/Swiper/dist/js/swiper.js"></script>
    <!-- endbower-->
    <script src="bower_components/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="js/custom_plgns.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>

src/jade/index.jade
<!DOCTYPE html/>
html(lang="en")
	head
		//bower:css
		link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
		link(rel='stylesheet', href='bower_components/Swiper/dist/css/swiper.css')
		//endbower
		link(rel='stylesheet', href='bower_components/fancybox/source/jquery.fancybox.css')
		link(rel="stylesheet", href="css/main.css")
		meta(charset="UTF-8")
		title Стимпанк и флоральная аэрография
	body
		.main_wrapper
			.header_block
				a(href="#")
					img(src="img/logo.png", alt="logo").main_logo
				ul.top_menu
					li
						a(href="#aboutMe")  Обо мне
					li
						a(href="#myPortfolio")  Портфолио
					li
						a(href="#myContacts")  Контакты
					li
						a(href="#myPrice")  Цены
			.site_name
				.gearsnroses
				.lenta
			.main_info#aboutMe
				.flowers_for_ann2_back(data-stellar-ratio="0.7")
				.ann2_back(data-stellar-ratio="0.8")
				p.anotation Привет, меня зовут Анна! Если вам нравится мой стиль и вы хотите украсить свой дом или машину моими авторскими работами, пишите и мы вместе создадим что-нибудь прекрасное!
				.phone_more
					//- img(src="img/phone.png", alt="phone")
					.phone_png
					a(href="tel:+79213324455") +7(921)332 44 55
					p Звоните прямо сейчас и получите в подарок дополнительный эскиз
			.how_itwork
				h2 Как все работает?
				span.h_separator
				.work_road
					.work_road_item
						//- img(src="img/tel_circle.png", alt="")
						.tel_circle
						h3 звонок
						span.h3_separator
						p Позвоните прямо сейчас. Я отвечу на любые вопросы и мы предворительно обсудим предстоящий проект. Для более подробной беседы мы назначим личную встречу.
					.work_road_item
						//- img(src="img/Ellipse 3 copy3.png", alt="")
						.Ellipse3copy3
						h3 встреча
						span.h3_separator
						p На встрече мы проговорим подробнее наш проект, вместе порисуем эскизы, посмотрим и обсудим аналоги и окончательно утвердим сроки и цены.
					.work_road_item
						//- img(src="img/Ellipse 3 copy2.png", alt="")
						.Ellipse3copy2
						h3 эскизы
						span.h3_separator
						p Я предложу вам несколько эскизов на выбор. Вы сможете выбрать тот эскиз, который вам больше всего  приглянется.
					.work_road_item
						//- img(src="img/Ellipse 3 copy.png", alt="")
						.Ellipse3copy
						h3 красота
						span.h3_separator
						p На основе выбранного эскиза, я создам рисунок, который украсит ваш интерьер или вашу машину и будет радовать вас многие годы.
			.porfolio#myPortfolio
				.header_img
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="img/fgsDs8mtOJ4.jpg").fancybox
								img(src="img/fgsDs8mtOJ4.jpg", alt="")
						.swiper-slide
							a(href="img/Ljt6r-QRz4c.jpg").fancybox
								img(src="img/Ljt6r-QRz4c.jpg", alt="")
						.swiper-slide
							a(href="img/R4uNoNPa3LI.jpg").fancybox
								img(src="img/R4uNoNPa3LI.jpg", alt="")
						.swiper-slide
							a(href="img/tUlZJlXoQtM.jpg").fancybox
								img(src="img/tUlZJlXoQtM.jpg", alt="")
						.swiper-slide
							a(href="img/VnUn3yE5G-s.jpg").fancybox
								img(src="img/VnUn3yE5G-s.jpg", alt="")
						.swiper-slide
							a(href="img/wfem9BughIg.jpg").fancybox
								img(src="img/wfem9BughIg.jpg", alt="")
						.swiper-slide
							a(href="img/xg0Fq6dqpMo.jpg").fancybox
								img(src="img/xg0Fq6dqpMo.jpg", alt="")
						.swiper-slide
							a(href="img/AECd45Y6Tl0.png").fancybox
								img(src="img/AECd45Y6Tl0.png", alt="")
						.swiper-slide
							a(href="img/fgsDs8mtOJ4.jpg").fancybox
								img(src="img/fgsDs8mtOJ4.jpg", alt="")
						.swiper-slide
							a(href="img/Ljt6r-QRz4c.jpg").fancybox
								img(src="img/Ljt6r-QRz4c.jpg", alt="")
						.swiper-slide
							a(href="img/R4uNoNPa3LI.jpg").fancybox
								img(src="img/R4uNoNPa3LI.jpg", alt="")
						.swiper-slide
							a(href="img/tUlZJlXoQtM.jpg").fancybox
								img(src="img/tUlZJlXoQtM.jpg", alt="")
						.swiper-slide
							a(href="img/VnUn3yE5G-s.jpg").fancybox
								img(src="img/VnUn3yE5G-s.jpg", alt="")
						.swiper-slide
							a(href="img/wfem9BughIg.jpg").fancybox
								img(src="img/wfem9BughIg.jpg", alt="")
						.swiper-slide
							a(href="img/xg0Fq6dqpMo.jpg").fancybox
								img(src="img/xg0Fq6dqpMo.jpg", alt="")
						.swiper-slide
							a(href="img/AECd45Y6Tl0.png").fancybox
								img(src="img/AECd45Y6Tl0.png", alt="")
						.swiper-slide
							a(href="img/fgsDs8mtOJ4.jpg").fancybox
								img(src="img/fgsDs8mtOJ4.jpg", alt="")
						.swiper-slide
							a(href="img/Ljt6r-QRz4c.jpg").fancybox
								img(src="img/Ljt6r-QRz4c.jpg", alt="")
						.swiper-slide
							a(href="img/R4uNoNPa3LI.jpg").fancybox
								img(src="img/R4uNoNPa3LI.jpg", alt="")
						.swiper-slide
							a(href="img/tUlZJlXoQtM.jpg").fancybox
								img(src="img/tUlZJlXoQtM.jpg", alt="")
						.swiper-slide
							a(href="img/VnUn3yE5G-s.jpg").fancybox
								img(src="img/VnUn3yE5G-s.jpg", alt="")
						.swiper-slide
							a(href="img/wfem9BughIg.jpg").fancybox
								img(src="img/wfem9BughIg.jpg", alt="")
						.swiper-slide
							a(href="img/xg0Fq6dqpMo.jpg").fancybox
								img(src="img/xg0Fq6dqpMo.jpg", alt="")
						.swiper-slide
							a(href="img/AECd45Y6Tl0.png").fancybox
								img(src="img/AECd45Y6Tl0.png", alt="")
				
						
				.swiper-pagination
				.swiper-button-prev
				.swiper-button-next

			.prices_slider#myPrice
				h2 Сколько стоит?
				span.h_separator Внимание! все цены указаны приблизительно!
				.swiper_cube_conteiner
					//- .swiper_wrapper_cube
					.swiper-wrapper
						.swiper-slide
							img(src="img/velo.png", alt="1111")
							span Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р
						.swiper-slide
							img(src="img/auto.png", alt="2222")
							span Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р
						.swiper-slide
							img(src="img/tutu.png", alt="3333")
							span Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р
					//- .swiper-pagination
								.swiper-button-prev
				.swiper_cube-button-next
				.swiper_cube-button-prev
				.phone_more
					//- img(src="img/phone.png", alt="phone")
					.phone_png
					a(href="tel:+79213324455") +7(921)332 44 55
				.baloon_phone_info 
					|Дополнительный <br/> 
					|эскиз в подарок! <br/>
					|Звоните <br/>
					|прямо сейчас!
			.contacts#myContacts
				.contacts_gears
				.contacts_flowers
				h2 Контакты
				span.h_separator
				.cont_phone_num
					.phone_png
					a(href="tel:+79213324455") +7(921)332 44 55
				form(action="#")
					input(type="text",placeholder="Ваше Имя",required="required").formTText
					input(type="email",placeholder="Ваш E-mail",required="required").formTText
					textarea(placeholder="Ваше сообщение")
					.form_button
						input(type="button",value="Отправить")
						span Буду рада ответить на любые вопросы
			footer
				ul
					li
						a(href="").twitter
					li
						a(href="").facebook
					li
						a(href="").googleplus
					li
						a(href="").pinterest
					li
						a(href="").linkedin
		.elevator-button


		// bower:js
		script(src='bower_components/jquery/dist/jquery.js')
		script(src='bower_components/jquery.stellar/jquery.stellar.js')
		script(src='bower_components/Swiper/dist/js/swiper.js')
		// endbower
		script(src='bower_components/fancybox/source/jquery.fancybox.pack.js')

		script(src='js/custom_plgns.min.js')
		script(src='js/main.min.js')
